* {
    box-sizing: border-box;
    transition-duration: 0.3s;
    margin: 0;
    padding: 0;
    font-family: consolas;
}

.page {
    background-image: url('wizard-v3.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    background-size: auto;
    -webkit-background-size: cover;
}

#title {
    color: #13294b;
    /* width: 60%; */
    padding: 10px 10px;
    font-family: consolas;
    text-align: center;
}

#main {
    position: relative;
    /* box-shadow: -4px 4px 14px -1px rgba(0,0,0,0.6); */
    /* -webkit-box-shadow: -4px 4px 14px -1px rgba(0,0,0,0.6); */
    /* -moz-box-shadow: -4px 4px 14px -1px rgba(0,0,0,0.6); */
    /* background-color: #fff; */
    border-radius: 20px;
    border: none;
    margin: auto;
    margin-top: 5%;
    width: 70%;
    display: flex;
    align-content: space-between;
    /* visibility: hidden; */
}

#left , #right {
    transition-duration: 0.1s;
    font-family: consolas;
    /* color: #fff; */
    background: rgb(19,41,75);
    background: linear-gradient(180deg, rgba(19,41,75,1) 8%, rgba(87,238,193,1) 60%);
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    width: 35%;
    margin: auto;
    height: 250px;
    border: 2px solid black;
    position: relative;
    border-radius: 20px;
    visibility: hidden;
}

#left:hover, #right:hover {
    transform: scale(1.1);
}
 
#top, #rtop {
    width: 100%;
    font-family: consolas;
    background-color: rgba(0,0,0,0,5);
    position: absolute;
    top: 40%;
    /* left: 30% */
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}

#bottom, #rbottom {
    transition-delay: 0.1s;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 100%;
    left: 10%;
}

#left:hover, #right:hover {
    color: #fff;
}

#left:hover #bottom, #right:hover #rbottom {
    top: 30%;
}

#left:hover #top, #right:hover #rtop {
    top: 8%;
    /* color: #fff; */
}

#screen1 {
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    padding: 1%;
    /* visibility: hidden; */
    transform-origin: left;
    /* opacity: 0; */
    height: 500px;
    border-radius: 10px;
}

#files {
    display: flex;
    align-content: space-between;
}

.tabs {
    /* width: 100%; */
    display: block;
    margin-left: 20%;
    /* display: flex; */
    /* align-content: space-between; */
}

.tabdiv {
    width: 20%;
    display: inline-block;
    align-items: center;
}

.icon {
    position: relative;
    /* background-color: #57eec1; */
    cursor: pointer;
    display: block;
    border: 2px solid black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* text-align: center; */
    font-size: 25px;
}

.icon i {
    position: absolute;
    top: 30%;
    left: 35%;
}

/* .icon::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    right: 100%;
    top: 50%;
    background-color: gray;
} */

#file_upload {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 330px;
    /* align-content: center; */
    justify-content: space-evenly;
    border: 2px solid black;
}

#popuation, #test {
    overflow: hidden;
    padding: 10px;
    /* border: 2px solid black; */
    width: 50%;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.zero, .hidden {
    display: none;
}

label {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.button {
    margin: auto;
    margin-top: 10px;
    display: block;
    background: rgb(0, 0, 0);
    border: none;
    font-size: 15px;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button:active {
    transform: scale(1.5);
}

.fileinfo {
    position: absolute;
    top: 100%;
    padding: 10px;
}

#popuation:hover, #test:hover {
    background-color: #57EEC1;
}

#popuation:hover #topfileinfo, #test:hover #bottomfileinfo {
    top: 40%;
}