<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/67361f458b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <title></title>
    <script>
        $(document).ready(function (e) {
            var formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
            });
            // var loc = [0, 733.45, 733.45 * 2, 733.45 * 3, 733.45 * 4];
            // var loc2 = [0, 733.45, 733.45 * 2, 733.45 * 3];
            // var loc = [0, 100, 100 * 2, 100 * 3, 100 * 4];
            // var loc2 = [0, 100, 100 * 2, 100 * 3];
            // var loc3 = [0, 1044.22, 1044.22*2, 1044.22*3, 1044.22*4, 1044.22*5];
            var loc3 = [0, 100, 100 * 2, 100 * 3, 100 * 4, 100*5];
            var loc4 = [0, 100, 100 * 2, 100 * 3, 100 * 4, 100*5];
            var heads = ["Instructions", "Upload Population Data", "Upload Test Data", "Unique Identifier", "Feature Selection", "Insights"];
            var heads2 = ["Instructions", "Upload Test-Control Data", "Upload Performance Data", "Cost", "Performance Period", "Insights"];
            var nextbuttonids = ["informbutton", "submit", "submit2", "unique_select", "send_data", "reset"];
            var nextbuttonids2 = ["informbutton2", "test_control_submit", "performance_submit", "select_cost", "eval_generate", "reset2"];
            var idx = 0, idx2 = 0, idx3 = 0, idx4 = 0;
            var maxr = 1, maxr2 = 1;
            function slideslidable(direction) {
                if(direction === 1) {
                    if(idx3<5) {
                        $('#slidable').css('left', -loc3[++idx3]+'%');
                        // $('#tabhead').text(heads[idx3]);
                    } else {
                        $('#slidable').css('left', '0');
                        idx3 = 0;
                    }
                } else {
                    if(idx3 >= 1) {
                        $('#slidable').css('left', -loc3[--idx3]+'%');
                    } 
                    if(idx3 == 0) $('#prevbutton').css('display', 'none');
                    $(`#${nextbuttonids[idx3+1]}`).attr('id', nextbuttonids[idx3]);
                    if(idx3 == 4) $(`#${nextbuttonids[idx3]}`).text('Next Step');
                }
                console.log(idx3);
                $('#tabhead').text(heads[idx3]);
            }
            function slideslidable2(direction) {
                if(direction === 1) {
                    if(idx4<5) {
                        $('#slidable2').css('left', -loc4[++idx4]+'%');
                        // $('#tabhead2').text(heads2[idx4]);
                    } else {
                        $('#slidable2').css('left', '0');
                        idx4 = 0;
                    }
                } else {
                    if(idx4>0) {
                        $("#slidable2").css('left', -loc4[--idx4]+'%');
                    } 
                    if(idx4 == 0) $('#prevbutton2').css('display', 'none');
                    $(`#${nextbuttonids2[idx4+1]}`).attr('id', nextbuttonids2[idx4]);
                    if(idx4 == 4) $(`#${nextbuttonids2[idx4]}`).text('Next Step');
                }
                $('#tabhead2').text(heads2[idx4]);
            }
            $('#home').on('click', function () {
                // window.location.replace('http://127.0.0.1:5000');
                location.reload();
            });
            $('#left').on('click', function () {
                $('#screen0').css('display', 'none');
                $('#bottom').css('top', '100%');
                $('#top').css('top', '100%');
                $('#tabone').css('background-color', '#24c1e8');
                $('#screen1').css('display', 'block');
                $('#title').text('Test-Control Match Pair');
                setTimeout(() => {
                    // $('#right').css('transform', 'scaleX(0)');
                    // $('#left').css('transform', 'scaleX(0)');
                    // $('#left').css('width', '100%');
                    $('#left').css('border', 'none');
                    $('#left').hover(function () {
                        $('#left').css('transform', 'scale(1)');
                    });
                    $('#home').css('display', 'block');
                    $('#nextbutton').css('display', 'block');
                    setTimeout(() => {
                        $('#left').css('visibility', 'hidden');
                        $('#right').css('display', 'none');
                        // $('#screen1').css('transform', 'scaleX(1)');
                        // $('#screen1').css('visibility', 'visible');
                    }, 300)
                }, 400);
            });
            $('#right').on('click', function () {
                $('#screen0').css('display', 'none');
                // $('#bottom').css('top', '100%');
                // $('#top').css('top', '100%');
                // $('#tabone').css('background-color', '#57eec1');
                $('#tabone2').css('background-color', '#24c1e8');
                $('#screen2').css('display', 'block');
                $('#title').text('Campaign Evaluation');
                setTimeout(() => {
                    // $('#right').css('transform', 'scaleX(0)');
                    // $('#left').css('transform', 'scaleX(0)');
                    // $('#left').css('width', '100%');
                    // $('#left').css('border', 'none');
                    // $('#left').hover(function () {
                        //     $('#left').css('transform', 'scale(1)');
                        // });
                    $('#home').css('display', 'block');
                    $('#nextbutton2').css('display', 'block');

                    // setTimeout(() => {
                        // $('#left').css('visibility', 'hidden');
                        // $('#tabone2').css('background-color', '#57eec1');
                        // $('#right').css('display', 'none');
                        // $('#screen2').css('transform', 'scaleX(1)');
                        // $('#home').css('display', 'block');
                        // $('#screen1').css('visibility', 'visible');
                    // }, 300)
                }, 400);
            });
            $('.icon').on('click', function () {
                $(this).css('background-color', '#57eec1');
            });
            function update_head(idx) {
                $('#tabhead').text(heads[idx]);
            }
            function update_head2(idx) {
                console.log('idx=', idx);
                $('#tabhead2').text(heads2[idx]);
            }
            function ajaxCall(data) {
                console.log(data);
                $.ajax({
                    url: '/write',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: JSON.stringify(data),
                    type: 'post',
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }
            function validate_cost() {
                let camp_val = $('#campaign_cost').val();
                // if (camp_val.length && parseInt(camp_val) > 1000) return true;
                if (camp_val == '') {
                    $('#campaign_label').html('Please enter Cost of Campaign');
                    $('#campaign_label').addClass('red');
                    return;
                } else if(parseInt(camp_val) <= 0) {
                    // $('#campaign_label').html('Itna kam paisa gareeb insaan');
                    $('#campaign_label').html('Cost must be greater than 0');
                    $('#campaign_label').addClass('red');
                    return;
                }
                console.log('inside validate_cost');
                let data = {
                    'cost_or_week': $('#campaign_cost').val(),
                }
                console.log(data);
                let write_obj = {
                    'action': 'write_cost',
                    'data': data
                }
                $('#campaign_label').removeClass('red');
                $('#campaign_label').text('Cost of Campaign');
                $('#performance_window_label').removeClass('red');
                $('#performance_window_label').text('Campaign Evaluation Window');
                ajaxCall(write_obj);
                $('#select_cost').attr('id', 'eval_generate');
                $('#tabfive2').css('background-color', '#24c1e8');
                slideslidable2(1);
            }
            function validate_performance() {
                let perf_val = $('#performance_window').val();
                // if (perf_val.length) return true;
                if (perf_val == '') {
                    $('#performance_window_label').html('Please enter Campaign Performance Window');
                    $('#performance_window_label').addClass('red');
                    return false;
                }
                
                let data = {
                    'cost_or_week': $('#performance_window').val(),
                }
                console.log(data);
                let write_obj = {
                    'action': 'write_weeks',
                    'data': data
                }
                $('#campaign_label').removeClass('red');
                $('#campaign_label').text('Cost of Campaign');
                $('#performance_window_label').removeClass('red');
                $('#performance_window_label').text('Campaign Performance Window');
                ajaxCall(write_obj);
                return true;
            }
            function select_unique() {
                let unique_f = $('input[name="unique_feature"]:checked').val();
                if (unique_f == undefined) {
                    // $('#unique_msg').text('Please select unique identifier');
                    $('#unique_head').text('Please select Unique Identifier');
                    $('#unique_head').css('color', 'red');
                    // $('#unique_head').css('font-size', '16px');
                    return;
                }
                console.log(unique_f);
                $("input.unique_f:radio:not(:checked)").each(function () {
                    $(this).parent().remove();
                });
                // $('#unique_select').hide();
                // $('#bottomlast').css('visibility', 'visible');
                localStorage.setItem('unique_id', unique_f);
                let feats = localStorage.getItem('features').split(',');
                console.log('feats = ', feats);
                $('#pop_ul').html('');
                $('#unique_head').text('Select Unique Identifier');
                $('#unique_head').css('color', '#000');
                $.each(feats, function (key, data) {
                    if (key > 0 && data != unique_f) {
                        console.log(data);
                        $('#pop_ul').append('<li><input type="checkbox" value="' + data + '">' + data);
                    }
                });
                // $('#population_features').css('transform', 'scaleX(1)');
                // $('#send_data').css('visibility', 'visible');
                $("#unique_select").attr("id", "send_data");
                $('#tabfive').css('background-color', '#24c1e8');
                slideslidable(1);
            }
            function submit() {
                console.log('inside submit');
                $('#unique_features').css('visibility', 'hidden');
                // hide('dummy');
                var form_data = new FormData();
                var ins = document.getElementById('myfile').files.length;
                if (ins == 0) {
                    $('#myfile_label').html('<span style="color:red">Please select population file</span>');
                    // $('#submit').css('background', '#f44336');
                    return;
                }

                for (var x = 0; x < ins; x++) {
                    form_data.append("files[]", document.getElementById('myfile').files[x]);
                }
                $.ajax({
                    url: '/upload',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'post',
                    success: function (response) {
                        maxr = 1;
                        console.log(response.features);
                        $('#myfile_label').text('Population Data');
                        $('#msg').html('');
                        // $('#tabthree').css('background-color', '#fff');
                        // $('#tabfour').css('background-color', '#fff');
                        // hide('dummy');
                        // hide('topdata');
                        // slideUp('leftpane', $('.topdata').height()+10);
                        // $('#submit2').css('background', 'black');
                        // $('#submit2').text('Upload');
                        $('#pop_ul').html('');
                        $('#pop_name').attr('name', response.features[0]);
                        // $('#submit').css('background', '#4CAF50');
                        // $('#submit').text('Uploaded');
                        // $('#submit').addClass('disabled');
                        // $('#test').css('visibility', 'visible');
                        localStorage.setItem('features', response.features);
                        $('#unique_ul').html('');
                        // slideslidable($(this).attr('id'));
                        // $.each(response.features, function (key, data) {
                        //     if (key > 0 && key !== 'message') {
                        //         $('#unique_ul').append('<li><input type="radio" name="unique_feature" value="' + data + '">' + data);
                        //     }
                        // });
                        // $('#submit').css('background', '#24c1e8');
                        $('#tabthree').css('background-color', '#24c1e8');
                        $("#submit").attr("id", "submit2");
                        slideslidable(1);
                    },
                    error: function (response) {
                        $('#msg').html(response.message);
                    }
                });
                console.log('thanks');
            }
            function submit2() {
                console.log('jajaj');
                var form_data = new FormData();
                var ins = document.getElementById('testFile').files.length;

                if (ins == 0) {
                    $('#myfile_test').html('<span style="color:red">Please select Test File</span>');
                    // $('#submit2').css('background', '#f44336');
                    return;
                }

                for (var x = 0; x < ins; x++) {
                    form_data.append("files[]", document.getElementById('testFile').files[x]);
                }
                var yes = false;
                $.ajax({
                    url: '/upload',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'post',
                    success: function (response) {
                        // setTimeout(() => {
                        //     $('#slidable').css('left', -loc[++idx] + '%');
                        // }, 800);
                        console.log(response.features);
                        // select_unique();
                        $('#msg').html('');
                        $('#unique_select').show();
                        $('#test_ul').html('');
                        // $('#submit2').text('Uploaded');
                        // $('#submit2').addClass('disabled');
                        $('#test_name').attr('name', response.features[0]);
                        // $('#submit2').css('background', '#4CAF50');
                        // setTimeout(() => {
                        //     $('#submit').css('background-color', '#000');
                        //     $('#submit').text('Upload');
                        //     $('#submit2').css('background-color', '#000');
                        //     $('#submit2').text('Upload');
                        // }, 1000);
                        $('#unique_features').css('visibility', 'visible');
                        $('#myfile_test').html('<span>Test Data</span>');

                        // $('#bottomlast').css('visibility', 'visible');
                        // $.each(response.features, function (key, data) {
                        //     if (key > 0 && key !== 'message') {
                        //         console.log(key);
                        //         $('#test_ul').append('<li><input type="checkbox" value="' + data + '">' + data);
                        //     }
                        //     // else {
                        //     //     $('#msg').append(data + '<br/>');
                        //     // }
                        // });
                        $('#unique_ul').html('');
                        $.each(localStorage.getItem('features').split(','), function (key, data) {
                            if (key > 0 && key !== 'message') {
                                $('#unique_ul').append('<li><input type="radio" class="unique_f" name="unique_feature" value="' + data + '">' + data);
                            }
                        });
                        // maxr = 2;
                        // console.log('maxr = ', maxr);
                        $('#ground').css('visibility', 'visible');
                        $('#unique_features').css('visibility', 'visible');
                        $("#submit2").css("background-color", "#24c1e8");
                        $("#submit2").attr("id", "unique_select");
                        $('#tabfour').css('background-color', '#24c1e8');
                        slideslidable(1);
                    },
                    error: function (response) {
                        $('#msg').html(response.message);
                    }
                });
            }
            function unique_select() {
                select_unique();
            }
            function send_data() {
                var population = [localStorage.getItem('unique_id')];
                population.splice(0, 0, $('#pop_name').attr('name'));
                $('#pop_ul input:checked').each(function () {
                    if ($(this).is(":checked")) {
                        population.push($(this).attr('value'));
                    }
                });
                console.log(population);
                if (population.length < 4) {
                    $('#featureHead').html('Select minimum 2 features');
                    $('#featureHead').addClass('red');
                    return;
                }
                $('#featureHead').html('Select Features');
                $('#featureHead').removeClass('red');
                var test = [];
                test.push($('#test_name').attr('name'));
                $('.lds-roller').css('visibility', 'visible');
                $('#send_data').addClass('disabled');
                $('#backbutton').addClass('disabled');
                // $('#test_ul input:checked').each(function () {
                //     if ($(this).is(":checked")) {
                //         test.push($(this).attr('value'));
                //     }
                // });
                let d_data = {
                    'population': population,
                    'test': test
                }
                // $('#send_data').addClass('disabled');
                $.ajax({
                    url: '/send_data',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: JSON.stringify(d_data),
                    type: 'post',
                    success: function (response) {
                        maxr = 5;
                        console.log('inside final function');
                        // console.log(response);
                        // console.log(typeof (response));

                        for (var key in response) {
                            if (response.hasOwnProperty(key)) {
                                console.log(key);
                                // console.log($(`#${key}`));
                                $(`#${key}`).attr('src', `data:image/png;base64, ${response[key]}`)
                                // console.log(response[key]);
                                // break;
                            }
                        }
                        // setTimeout(() => {
                        //     $('#slidable').css('left', -loc[++idx] + '%');
                        //     // $('#tabthree').css('background-color', '#57eec1');
                        //     update_head(3);
                        // }, 500);
                        // $('#df_pop').attr('src', '#');
                        // $('#df_pop').attr('src', './files/df_pop.png');
                        // $('#df_test').attr('src', './files/df_test.png');
                        // $('#tiles').append(response['page']);
                        $('#featureHead').html('Select features');
                        $('#featureHead').removeClass('red');
                        $('.tiles').css('visibility', 'visible');
                        // $('#right').css('visibility', 'visible');
                        $('.lds-roller').css('visibility', 'hidden');
                        $('#send_data').removeClass('disabled');
                        $('#backbutton').removeClass('disabled');
                        //$('#send_data').html('Generated');
                        $('#send_data').html('Finish');
                        $("#send_data").attr("id", "reset");
                        $('#tabsix').css('background-color', '#24c1e8');
                        slideslidable(1);
                    }
                })
                console.log(test);
            }
            function test_control_submit() {
                console.log('inside test_control_submit');
                var form_data = new FormData();
                var ins = document.getElementById('test_control_file').files.length;
                if (ins == 0) {
                    $('#test_control_label').html('<span style="color:red">Please select Test Control file</span>');
                    // $('#test_control_submit').css('background', '#f44336');
                    // $('#test_control_label').css('font-size', '16px');
                    return;
                }
                for (var x = 0; x < ins; x++) {
                    form_data.append("files[]", document.getElementById('test_control_file').files[x]);
                }
                $.ajax({
                    url: '/upload',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'post',
                    success: function (response) {
                        // console.log(response.features[0]);
                        $('#test_control_file_name').attr('name', response.features[0]);
                        $('#test_control_label').html('<span>Test-Control Match Pair</span>');
                        let write_obj = {
                            'action': 'file_name_write',
                            'data': `${response.features[0]}`
                        }
                        ajaxCall(write_obj);
                        // $('#tabthree2').css('background', '#fff');
                        // $('#test_control_submit').css('background', '#4CAF50');
                        // $('#test_control_submit').text('Uploaded');
                        // slideUp('camp_main_dummy', $('#camp_main_dummy').height());
                        // slideUp('camp_main_left_t', $('#topdata').height() + $('#camp_main_left_tfile').height() + $('#camp_main_dummy').height()+10);
                        $('#tabthree2').css('background-color', '#24c1e8');
                        // $('#test_control_submit').css('background', '#24c1e8');
                        $('#test_control_submit').attr('id', 'performance_submit');
                        slideslidable2(1);
                    },
                    error: function (response) {
                        $('#msg1').html(response.message);
                    }
                });
            }
            function performance_submit() {
                var form_data = new FormData();
                var ins = document.getElementById('performance_file').files.length;
                if (ins == 0) {
                    $('#performance_label').html('<span style="color:red">Please select Performance file</span>');
                    // $('#performance_submit').css('background', '#f44336');
                    // $('#performance_label').css('font-size', '16px');
                    return;
                }
                for (var x = 0; x < ins; x++) {
                    form_data.append("files[]", document.getElementById('performance_file').files[x]);
                }
                $.ajax({
                    url: '/upload',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'post',
                    success: function (response) {
                        $('#performace_file_name').attr('name', response.features[0]);
                        let write_obj = {
                            'action': 'file_name_append',
                            'data': `${response.features[0]}`
                        }
                        ajaxCall(write_obj);
                        // $('#performance_submit').css('background', '#4CAF50');
                        // $('#performance_submit').text('Uploaded');
                        // setTimeout(() => {
                        //     $('#slidable2').css('left', -loc2[++idx2] + '%');
                        //     // $('#tabtwo2').css('background-color', '#57eec1');
                        //     maxr2 = 2;
                        //     idx2 = 2;
                        //     $('#test_control_submit').css('background', '#000');
                        //     $('#test_control_submit').text('Upload');
                        //     $('#performance_submit').css('background', '#000');
                        //     $('#performance_submit').text('Upload');
                        // }, 800);
                        // slideUp('camp_main_dummy', $('#camp_main_dummy').height());
                        // slideUp('camp_main_left_t', $('#topdata').height() + $('#camp_main_left_pfile').height());
                        $('#tabfour2').css('background-color', '#24c1e8');
                        $('#performance_label').html('<span">Performance</span>');
                        // $('#performance_submit').css('background', '#24c1e8');
                        $('#performance_submit').attr('id', 'select_cost');
                        slideslidable2(1);
                    },
                    error: function (response) {
                        $('#msg2').html(response.message);
                    }
                });
            }
            function eval_generate() {
                // if (!validate()) return;
                console.log('inside');
                $('.lds-roller').css('visibility', 'visible');
                // let data = {
                //     'cost_athwa_week': $('#campaign_cost').val(),
                //     'weeks': $('#performance_window').val()
                // }
                // console.log(data);
                // let write_obj = {
                //     'action': 'data_write',
                //     'data': data
                // }
                // $('#campaign_label').removeClass('red');
                // $('#campaign_label').text('Cost of Campaign');
                // $('#performance_window_label').removeClass('red');
                // $('#performance_window_label').text('Campaign Weeks');

                // ajaxCall(write_obj);
                $('#eval_generate').addClass('disabled');
                $('#backbutton2').addClass('disabled');
                $.ajax({
                    url: '/run_evaluate',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'post',
                    success: function (response) {
                        for (let [key, value] of Object.entries(response)) {
                            console.log(key, value);
                            if (key === 'uplift_value' || key === 'total_uplift_value' || key === 'campaign_cost_value') {
                                $(`#${key}`).html(('' + formatter.format(parseFloat(value))).split('.')[0]);
                            } else if (key === 'scr_value') {
                                $(`#${key}`).html(parseFloat(value).toFixed(2));
                            } else if (key === 'performance_wind_value') {
                                $(`#${key}`).html(parseFloat(value).toFixed(0) + ' weeks');
                            } else {
                                $(`#${key}`).html(parseFloat(value).toFixed(0));
                            }
                        }
                        // setTimeout(() => {
                        //     // $('#slidable2').css('left', -loc2[++idx2] + '%');
                        //     // $('#tabthree2').css('background-color', '#57eec1');
                        //     maxr2 = 3;
                        //     update_head2(idx2);
                        //     console.log(idx2);
                        // }, 800);
                        // $('#camp_main_right').css('visibility', 'visible');
                        // $('#eval_generate').html('Generated');
                        $('.lds-roller').css('visibility', 'hidden');
                        $('#eval_generate').removeClass('disabled');
                        $('#backbutton2').removeClass('disabled');
                        $('#eval_generate').html('Finish');
                        $('#eval_generate').attr('id', 'reset2');
                        $('#tabsix2').css('background-color', '#24c1e8');
                        slideslidable2(1);
                    }
                });
            }

            $('#download_insights').on('click', function() {
                // document.body.removeChild('#temp_a');
                console.log('inside download insights');
                filename = 'test_control_insights.html';
                data = {
                    'title': 'Test-Control Insights',
                    'div': $('#result').html(),
                    'filename': filename,
                    'result': 'result'
                }
                // saveaspdf(`${this}.attr('name')`, `${this}.attr('title')`);
                $.ajax({
                    url: '/saveaspdf',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: JSON.stringify(data),
                    type: 'post',
                    success: function (response) {
                        console.log(response);
                        console.log('jaihind');
                        var element = document.createElement('a');
                        element.setAttribute('target', '_blank');
                        element.setAttribute('href', `/static/files/${filename}`);
                        element.setAttribute('download', filename);
                        element.style.display = 'none';
                        document.body.appendChild(element);
                        element.click();
                        document.body.removeChild(element);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            });

            $('#myfile').change(function() {
                $('#submit').click();
            });
            $("#testFile").change(function() {
                $('#submit2').click();
            });

            $('#test_control_file').change(function() {
                $('#test_control_submit').click();
            });
            $('#performance_file').change(function() {
                $('#performance_submit').click();
            });

            $('#save_insights').on('click', function() {
                // document.body.removeChild('#temp_a');

                console.log('inside download insights');
                filename = 'evaluation_insights.html'
                data = {
                    'title': 'Evaluation Insights',
                    'div': $('#result2').html(),
                    'filename': filename,
                    'result': 'result2'
                }
                // saveaspdf(`${this}.attr('name')`, `${this}.attr('title')`);
                $.ajax({
                    url: '/saveaspdf',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: JSON.stringify(data),
                    type: 'post',
                    success: function (response) {
                        console.log(response);
                        console.log('jaihind');
                        var element = document.createElement('a');
                        // element.preventDefault();
                        element.setAttribute('target', '_blank');
                        element.setAttribute('href', `/static/files/${filename}`);
                        element.setAttribute('download', filename);
                        element.style.display = 'none';
                        document.body.appendChild(element);
                        element.click();
                        document.body.removeChild(element);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            });
            
            $('#show_insights').on('click', function () {
                // $('*').css("transition-duration", "0s");
                $('#result').css('display', 'block');
                $('#close').css('visibility', 'visible');
                $('#cover').css('display', 'block');
            });
            $('#show_insights2').on('click', function () {
                // $('*').css("transition-duration", "0s");
                $('#result2').css('display', 'block');
                $('#close2').css('visibility', 'visible');
                $('#cover').css('display', 'block');
            });
            $('#close').on('click', function () {
                // $('*').css("transition-duration", "0.3s");
                $('#result').css('display', 'none');
                $('#close').css('visibility', 'hidden');
                $('#cover').css('display', 'none');
            });
            $('#close2').on('click', function () {
                // $('*').css("transition-duration", "0.3s");
                $('#result2').css('display', 'none');
                $('#close2').css('visibility', 'hidden');
                $('#cover').css('display', 'none');
            });

            // $('#tabfour').on('click', function() {
            //     $(this).css('background-color', 'red');
            //     $('#slidable').css('left', '-300%');
            // });
            $('#show_info').on('click', function () {
                $('#info_frame').css('display', 'block');
            });     
            // $('#informbutton').on('click', function() {
            //     console.log('informbutton called');
            //     console.log($(this).attr('id'));
            //     slideslidable($(this).attr('id'));
            // });
            $("#prevbutton").on('click', function() {
                slideslidable(-1);
            });
            $("#prevbutton2").on('click', function() {
                slideslidable2(-1);
            });
            $("#informbutton").parent().on("click","#informbutton", function () {
                console.log("im changing id to btn2 and ho ho ho");
                $("#informbutton").attr("id", "submit");
                $('#tabtwo').css('background-color', '#24c1e8');
                $('#prevbutton').css('display', 'block');
                slideslidable(1);
            });
            $('#informbutton').parent().on('click', '#submit', function() {
                submit();
                console.log('546');
            });
            $('#informbutton').parent().on('click', '#submit2', function() {
                submit2();
                console.log('submit2 comp');
            });
            $('#informbutton').parent().on('click', '#unique_select', function() {
                unique_select();
                console.log('unique_select complete');
            });
            $('#informbutton').parent().on('click', '#send_data', function() {
                send_data();
                console.log('send_data complete');
            });
            $('#informbutton').parent().on('click', '#reset', function() {
                location.reload();
                // slideslidable(1);
                // $('#reset').html('Next Step');
                // $('#reset').attr('id', 'informbutton');
                // $('#tabsix').css('background-color', '#ccc');
                // $('#tabfive').css('background-color', '#ccc');
                // $('#tabfour').css('background-color', '#ccc');
                // $('#tabthree').css('background-color', '#ccc');
                // $('#tabtwo').css('background-color', '#ccc');
            });
            

            $("#informbutton2").parent().on("click","#informbutton2", function () {
                console.log("im changing id to btn2 and ho ho ho");
                $("#informbutton2").attr("id", "test_control_submit");
                $('#tabtwo2').css('background-color', '#24c1e8');
                $('#prevbutton2').css('display', 'block');
                slideslidable2(1);
            });
            $('#informbutton2').parent().on('click', '#test_control_submit', function() {
                test_control_submit();
                console.log('test_control_submit complete');
            });
            $('#informbutton2').parent().on('click', '#performance_submit', function() {
                performance_submit();
                console.log('performance_submit complete');
            });
            $('#informbutton2').parent().on('click', '#select_cost', function() {
                validate_cost();
                console.log('unique_select complete');
            });
            $('#informbutton2').parent().on('click', '#eval_generate', function() {
                if(validate_performance()) {
                    eval_generate();
                }
                console.log('eval_generate complete');
            });
            $('#informbutton2').parent().on('click', '#reset2', function() {
                location.reload();
                // slideslidable2(1);
                // $('#reset2').html('Next Step');
                // $('#reset2').attr('id', 'informbutton2');
                // $('#tabsix2').css('background-color', '#ccc');
                // $('#tabfive2').css('background-color', '#ccc');
                // $('#tabfour2').css('background-color', '#ccc');
                // $('#tabthree2').css('background-color', '#ccc');
                // $('#tabtwo2').css('background-color', '#ccc');
            });
        });
    </script>
</head>

<body id="mybody">
    <div id="logo"><a href="https://www.nagarro.com"><img src="../static/nagarro3.svg" alt="nagarro_logo"></a></div>
    <!-- <i class="fa-solid fa-house-chimney" id="home"></i> -->
    <div id="cover"></div>
    <div class="page">
        <h1 id="title">Campaign Evaluation Toolkit</h1>
        <div id="main">
            <div id="screen0">
                <div id="left">
                    <div id="top">
                        <input type="radio" name="top" id="topradio"><span>Test-Control Match Pair</span>
                    </div>
                    <!-- <div id="bottom">This tool is used to identify best ‘Control’ match (out of large population)
                        corresponding to a ‘Test’ sample which is part of a marketing campaign
                    </div> -->
                </div>
                <div id="right">
                    <div id="rtop">
                        <input type="radio" name="rtop" id="rtopradio"><span>Campaign Evaluation</span>
                    </div>
                    <!-- <div id="rbottom">This tool is used to measure the effectiveness of the campaign. It reports the key
                        performance KPIs of the campaign which can help stakeholders to get insights and make better
                        business decisions</div> -->
                </div>
            </div>
            <div id="nextbutton">
                <button id="informbutton" class="button nextbutton">Next Step</button>
            </div>
            <div id="prevbutton">
                <button id="backbutton" class="button prevbutton">Previous</button>
            </div>
            <div id="nextbutton2">
                <button id="informbutton2" class="button nextbutton">Next Step</button>
            </div>
            <div id="prevbutton2">
                <button id="backbutton2" class="button prevbutton">Previous</button>
            </div>
            <div id="home">
                <button class="button">Home</button>
            </div>
            <div id="screen1">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <!-- <div id="forward"><i class="fa-solid fa-angles-right"></i></div> -->
                <!-- <div id="backward"><i class="fa-solid fa-angles-left"></i></div> -->
                <h2 id="tabhead">Instructions</h2>
                <div class="tabs">
                    <div class="tabdiv">
                        <span class="i-icon" id="tabone"><i class="fa-solid fa-info" id="firsticon"></i></span>
                    </div>
                    <div class="tabdiv">
                        <span class="i-icon" id="tabtwo"><i class="fa-solid fa-file-lines"></i></span>
                    </div>
                    <div class="tabdiv">
                        <span class="i-icon" id="tabthree"><i class="fa-solid fa-file-lines"></i></span>
                    </div>
                    <div class="tabdiv">
                        <span class="i-icon" id="tabfour"><i class="fa-solid fa-list"></i></span>
                    </div>
                    <div class="tabdiv">
                        <span class="i-icon" id="tabfive"><i class="fa-solid fa-list"></i></span>
                    </div>
                    <div class="tabdiv">
                        <span class="i-icon" id="tabsix"><i class="fa-solid fa-arrow-right-from-bracket"
                                id="fourthicon"></i></span>
                    </div>
                </div>
                <div class="content">
                    <div id="slidable">
                        <section id="information">
                            <img src="../static/files/info.png" alt="">
                            <!-- <button id="show_info" class="button">Instructions</button> -->
                        </section>
                        <section id="pop_file_upload" class="file_upload">
                            <div id="popuation">
                                <label for="myfile" id="myfile_label">Population Data</label>
                                <span id="pop_name" class="zero"></span>
                                <input type="file" id="myfile" name="myfile" class="" required />
                                <!-- <button type="submit" class="button2"><label for="myfile" tabindex="-1">Select File</label></button> -->
                                <p class="fileinfo" id="topfileinfo">
                                    CSV file with complete population and the variables that Control needs to be matched on.
                                    The format of this file is same as ‘Test file’
                                </p>
                            </div>
                        </section>
                        <section id="test_file_upload" class="file_upload">
                            <div id="test">
                                <label for="testFile" id="myfile_test">Test Data</label>
                                <span id="test_name" class="zero"></span>
                                <input type="file" id="testFile" name="testFile" class="" required />
                                <!-- <button type="submit" id="submit2" class="button2"><label for="testFile">Select File</label></button> -->
                                <p class="fileinfo" id="bottomfileinfo">
                                    CSV file with ‘Test’ users and the variables that ‘Control’ needs to be matched on
                                </p>
                            </div>
                        </section>
                        <section id="unique_feature_selection">
                            <div id="unique_features">
                                <p id="unique_msg"></p>
                                <h3 id="unique_head">Select Unique Identifier</h3>
                                <div id="isUnique">
                                    <ul id="unique_ul"></ul>
                                </div>
                                <!-- <button id="unique_select" class="button">Select</button> -->
                            </div>
                        </section>
                        <section id="population_feature_selection">
                            <div id="population_features">
                                <h3 id="featureHead">Select Features</h3>
                                <div id="leftFeatures">
                                    <ul id="pop_ul"></ul>
                                </div>
                                <!-- <button id="feature_select" class="button">Select</button> -->
                            </div>
                            <!-- <button id="send_data" class="button">Generate Control</button> -->
                        </section>
                        <section id="insights_download">
                            <!-- <h2>Insights Generated</h2> -->
                            <!-- <button id="show_insights" class="button">Show Insights</button> -->
                            <!-- <h2>Download Test-Control Match Pair</h2> -->
                            <button class="button" id="download_insights" title="insights" name="result">Download Insights</button>
                            <a href="{{url_for('static',filename='test_control_match_pair.csv')}}" id="output_download" download>Download Output</a>
                        </section>
                    </div>
                </div>
            </div>
            <div id="screen2">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <!-- <div id="forward2"><i class="fa-solid fa-angles-right"></i></div> -->
                <!-- <div id="backward2"><i class="fa-solid fa-angles-left"></i></div> -->
                <h2 id="tabhead2">Instructions</h2>
                <div class="tabs">
                    <div class="tabdiv">
                        <span class="i-icon" id="tabone2"><i class="fa-solid fa-info" id="firsticon"></i></span>
                    </div>
                    <div class="tabdiv">
                        <span class="i-icon" id="tabtwo2"><i class="fa-solid fa-file-lines"></i></span>
                    </div>
                    <div class="tabdiv">
                        <span class="i-icon" id="tabthree2"><i class="fa-solid fa-file-lines"></i></span>
                    </div>
                    <div class="tabdiv">
                        <span class="i-icon" id="tabfour2"><i class="fa-solid fa-dollar-sign"></i></span>
                    </div>
                    <div class="tabdiv">
                        <span class="i-icon" id="tabfive2"><i class="fa-solid fa-calendar-days"></i></span>
                    </div>
                    <div class="tabdiv">
                        <span class="i-icon" id="tabsix2"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                    </div>
                </div>
                <div class="content">
                    <div id="slidable2">
                        <section id="information">
                            <img src="../static/files/info2.png" alt="">
                            <!-- <button id="show_info" class="button">Instructions</button> -->
                        </section>
                        <section id="test_file_upload2">
                            <div id="test_control">
                                <label for="test_control_file" id="test_control_label">Test-Control Match Pair</label>
                                <span id="test_control_file_name" class="zero"></span>
                                <input type="file" name="test_control_file" id="test_control_file" class="" />
                                <!-- <button id="test_control_submit" class="button2"><label for="test_control_file">Select File</label></button> -->
                                <!-- <p class="fileinfo" id="topfileinfo2">
                                    CSV file with details of the Test-Control match pairs. This is the file produced as an
                                    output of the ‘Test-Control match pair’ module
                                </p> -->
                            </div>
                        </section>
                        <section id="performance_file_upload">
                            <div id="weeks">
                                <label for="performance_file" id="performance_label">Performance</label>
                                <span id="performace_file_name" class="zero"></span>
                                <input type="file" name="performance_file" id="performance_file" class="" />
                                <!-- <button id="performance_submit" class="button2"><label for="performance_file">Select File</label></button> -->
                                <!-- <p class="fileinfo" id="bottomfileinfo2">
                                    CSV file with details of the performance of the ‘Test’ and ‘Control’ groups pre and post
                                    campaign
                                </p> -->
                            </div>
                        </section>
                        <section id="cost_input">
                            <div id="cost">
                                <label for="campaign_cost" id="campaign_label">Cost of Campaign</label>
                                <div id="cost_pop">
                                    <input type="number" name="campaign_cost" id="campaign_cost" placeholder="e.g. $10000"
                                        min="10000">
                                    <div id="cost_infopop">Total cost including operational and promotional expenses</div>
                                </div>
                            </div>
                            <!-- <div id="generate_eval">
                                <button id="eval_generate" class="button">Generate</button>
                            </div> -->
                        </section>
                        <section id="week_input">
                            <div id="performace">
                                <label for="performance_window" id="performance_window_label">Evaluation Window</label>
                                <label data="weeks" id="input_weeks">
                                    <input type="number" name="performance_window" id="performance_window"
                                        placeholder="e.g. 5" max="1000000">
                                    <div id="performance_infopop">Time frame to measure the campaign impact on revenue/sales
                                    </div>
                                </label>
                                <!-- <div id="weekinput">
                                    <span id="week">weeks</span>
                                </div> -->
                            </div>
                        </section>
                        <section id="insights">
                            <h2>Insights Generated</h2>
                            <!-- <button id="show_insights2" class="button">Show Insights</button> -->
                            <button id="save_insights" class="button">Download Insights</button>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="result">
        {% include 'index.html' %}
        <a href="#" class="close" id="close"></a>
    </div>
    <div id="result2">
        <div id="final_data">
            <div id="remdata">
                <div id="cust_in_camp"><span id="cust_in_camp_value"></span>Customers in campaign</div>
                <div id="uplift"><span id="uplift_value">$</span>Uplift Per Customer</div>
                <div id="scr"><span id="scr_value"></span>ROI</div>
                <div id="total"><span id="total_uplift_value">$</span>Total Uplift</div>
                <div id="cost_campaign"><span id="campaign_cost_value">$</span>Campaign Cost</div>
                <div id="performance_wind"><span id="performance_wind_value"></span>Performance Window</div>
            </div>
            <!-- <div id="cust_in_camp">Customers in campaign: <span id="cust_in_camp_value"></span></div>
            <div id="remdata">
                <div id="uplift">Uplift Per Customer: $<span id="uplift_value">123</span></div>
                <div id="scr">ROI: <span id="scr_value">111</span></div>
                <div id="total">Total Uplift: $<span id="total_uplift_value">456</span></div>
                <div id="cost_campaign">Campaign Cost: $<span id="campaign_cost_value">1234</span></div>
                <div id="performance_wind">Performance Window: <span id="performance_wind_value">11111111</span> Weeks
                </div>
            </div> -->
        </div>
        <div id="camp_graph">
            <div id="camp_main_right_top">{% include 'graph_evaluate.html' %}</div>
        </div>
    </div>
</body>

</html>